.main-myarticles {
  display: flex;
  flex-flow: row nowrap;

  background-color: #ccc;
  min-height: 100vh;
}
.mycenter {
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 10rem;
}
.myarticles {
  width: 80%;
  background-color: white;
  padding: 10px;
  margin-top: 3rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.article-title {
  margin: 3rem 0;
  text-align: left;
  font-size: 3rem;
  font-weight: 400;
}
.article-content {
  margin-top: 1.5rem;
  white-space: pre-wrap;
}
.img-article-div {
  height: 50rem;
  width: 100%;
  background-size: cover;
  border-radius: 3px;
}
.mycategory {
  width: 15%;
  margin-top: 3rem;
  margin-left: 2rem;
}
.mycategname a {
  color: #2c3e50;
  font-weight: bold;
}
.mycategname a:hover {
  background-color: rgb(221, 85, 85);
}
