.myheader {
  background-color: rgb(221, 85, 85);
  color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.myheader h1 a,
ul li a {
  color: white;
}
li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}

.container {
  display: flex;
  flex-flow: row wrap;

  min-height: 100vh;
  background-color: #ccc;
}
.article-container {
  margin: 1rem 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 95%;
}
.articles {
  display: flex;
  flex-flow: column;
  background-color: white;
  width: 15%;
  margin: 10px 10px;
  padding: 10px 10px;
  width: 250px;
  height: 350px;
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  overflow: hidden;
}

.articles div {
  background-size: cover;

  min-width: 200px;
  min-height: 320px;
}
.articles:hover {
  transform: scale(1.1);
}

.text-category {
  font-size: 1.9rem;
  padding: 1rem 1rem;
  color: #2c3e50;
  text-align: center;
}
.display-category {
  width: 15%;
  margin-top: 3rem;
  margin-left: 2rem;
}
.display-category h2 {
  background-color: rgb(221, 85, 85);
}
.display-category li:hover {
  color: rgb(221, 85, 85);
  cursor: pointer;
}
